@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --background-color: #181818;
    --background-color-2: #1e1e1e;
    --borders-color: #2c2c2c;
    --footer-color: #080808;
    --primary-color: #c40001;
    --secondary-color: #6d0000;
    --terciary-color: white;
}

/*

-> POSICIONAMENTO
-> TAMANHO
-> ESPAÇAMENTO
-> CORES
-> FONTES/TEXTO
-> VISIBILIDADE
-> ANIMAÇÕES/TRANSIÇÕES

*/

/* GERAL */
* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;

    color: var(--terciary-color);

    font-family: 'Montserrat', sans-serif;
}

/* BODY E BACKGROUND */
body {
    margin: 0;

    min-height: 100vh;

    background-color: var(--background-color);
    background-image: linear-gradient(120deg, var(--background-color-2) 25%, var(--background-color) 25%);
}

/* 
-------------------------------------------------------- 
*/

/* HEADER */
header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    width: 75%;

    margin: 0 auto;
    margin-top: 30px;
    padding: 11px 80px;
    
    border: 5px solid var(--borders-color);
    border-radius: 15px;
    background-color: none;
}

/* Logo da PCI */ 

.logo-PCI-escrita img {
    height: 70px;
}

/* Navegação do header */

header nav ul{
    display: flex;
    align-items: center;

    gap: 30px;
}

header nav a {
    position: relative;

    padding-bottom: 2px;

    border-bottom: 3px solid transparent;
    color: var(--terciary-color);

    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
header nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;

    height: 3px;
    width: 0;

    background-color: var(--primary-color);

    transform: translateX(-50%);
    transition: 0.65s ease;
}

/* Animação da navegação */
header nav a:hover::after,
header nav a.active::after {
    width: 100%;
}

header nav a.active {
    color: var(--primary-color);
}

/* Animação do icon de telefone do header */

header .icon-telefone {
    padding: 5px 8px;

    border-radius: 10px;

    transform: scale(1);
    transition: transform 0.8s ease, background-color 0.8s ease; 
}

.icon-telefone img {
    width: 35px;
    height: 35px;
}

header .icon-telefone:hover {
    background-color: var(--borders-color);

    transform: scale(1.2);

    cursor: pointer;
}

/* (HEADER) Responsividade para mobile */

.logo-PCI {
    display: none
}

.menu-lateral {
    display: none;

    font-size: 30px;

    cursor: pointer;
}

@media (max-width: 1025px) {

    header {
        flex-direction: row;
        position: relative;

        padding: 12px 10px;

        border: none;
        border-bottom: 3px solid var(--borders-color);
        border-radius: 0;
    }


    .logo-PCI-escrita {
        display: none;
    }

    /* ícones do header responsivo */

    .menu-lateral {
        display: block;
    }

    .logo-PCI {
        display: block;
    }

    .logo-PCI img {
        height: 40px;
    }

   /* Header lateral */

   .header-nav {
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0%;

        width: 100%;
        padding: 50px 20px;

        background-color: var(--background-color-2);
        border: 4px solid var(--borders-color);
        border-radius: 6px;

        transform: translateX(-100%); /* Move 100% pra esquerda */
        transition: transform 0.65s ease, opacity 0.65s ease;
   }

   .header-nav nav ul {
        flex-direction: column;
        gap: 20px;
   }

   .header-nav.open {
        opacity: 1;
        pointer-events: 1;
        transform: translateX(0);
   }

}

/* 
-------------------------------------------------------- 
*/

/* Início */

section {
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 70px 20px;
}

#apresentacao {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    
    gap: 30px;
    width: 100%;
}

.apt-texto {
    max-width: 750px;
    font-size: 22px;
    text-align: center; 
}

.apt-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 30px;
    width: 100%;
}

.apt-sub-texto {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 500px;
}

.apt-sub-lista {
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateX(-50px);
    width: 100%;
}

@keyframes slideInSubLista {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.apt-sub-lista.animate {
    animation: slideInSubLista 0.6s ease forwards;
}

.apt-sub-texto img {
    rotate: 90deg;
    width: 40px;
    height: 35px;
}

.apt-sub-texto p {
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
}

.apt-botao {
    display: flex;
    gap: 15px;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.apt-botao a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 15px;
    gap: 10px;
    margin-top: 20px;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease, background-color 0.3s ease;
}

@keyframes slideUpBotao {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.apt-botao a.animate {
    animation: slideUpBotao 0.6s ease forwards;
}

.apt-botao img {
    width: 20px;
    height: 20px;
}

.apt-botao a:hover {
    background-color: var(--primary-color);
    transform: translateY(0) scale(1.1);
}


/* Dados PCI */
#dados {
    padding: 40px 0;
    text-align: center;
}

.dados-container {
    max-width: 1200px;
    margin: 0 auto;
}

.dados-container ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 15px;
    list-style: none;
}

.dados-lista {
    flex: 1;
    min-width: 115px;
}

.dados-lista h3 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

/* "Maior EJ integrada do Centro-Oeste" */
.dados-lista:first-child {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 15px;

    opacity: 0;
    transform: translateX(-50px);
    animation: slideInMaiorEJ 0.6s ease forwards;
}

/* Animação para o lado*/
@keyframes slideInMaiorEJ {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Ativar animação SlideInMaiorEJ */
.dados-lista:first-child.animate {
    opacity: 1;
    transform: translateX(0);
}

/* Números */
.dados-lista p:first-child {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* Dados*/
.dados-lista p:last-child {
    font-size: 14px;
    margin: 5px
}


/* PARCEIROS */
#parceria {
    flex-direction: column;
    padding: 40px 0;
    text-align: center;
    gap: 40px;
}

.parceria-titulo h2{
    border-bottom: 3px solid var(--terciary-color);
}

.carrossel {
    padding: 10px 0px;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 6px solid var(--borders-color);
    border-radius: 10px;
}

.carrossel ul {
    display: flex;
    
    align-items: center;
    
    padding: 20px;
    margin: 0;
    gap: 55px;
    list-style: none;
    
    animation: carrossel 30s linear infinite;
}

.carrossel li {
    flex-shrink: 0; /* nao encolher imagens */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.carrossel li:hover {
    transform: scale(1.1);
    background-color: var(--primary-color); 
    cursor: pointer;
}

.carrossel img {
    width: 90px;
    height: 90px;
}

/* Animação do carrossel  - looping pro lado */
@keyframes carrossel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* 
-------------------------------------------------------- 
*/

/* SOBRE NÓS */

body.sobrenos header {
    border: 5px solid white;
    border-radius: 15px;
}
body.sobrenos #back-header {
    display: flex;
    margin: 0 auto;
    padding-bottom: 200px;
    gap: 100px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

body.sobrenos #back-header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: -1;
}

body.sobrenos #prazer-pci {
    text-align: center;
    font-size: 30px;        
}

body.sobrenos #apresentacao {
    display: flex;

    padding: 120px 20px;
}

body.sobrenos .sobre-apt-infos {
    max-width: 1000px;

    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.8s;
}

body.sobrenos .apt-texto {
    margin-top: 50px;
    text-align: justify;
    max-width: 1000px;
    font-size: 26px;
}

/* Animação para ativar o título */
body.sobrenos .animate-titulo {
    opacity: 1;
    transform: translateX(0);
}

/* Animação para ativar o texto */
body.sobrenos .animate-texto {
    opacity: 1;
    transform: translateX(0);
}

/* MISSÃO, VISÃO, DIVERSIDADE */
.mvd-infos {
    position: relative;
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    padding: 40px;
    width: 1200px;
    max-width: 1500px;
    margin: auto;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
}

.mvd-slide {
    display: none;
    transition: opacity 0.5s ease-in-out;
    height: 140px;
}

.mvd-slide.active {
    display: block;
    animation: slideInBounce 0.6s ease;
}

@keyframes slideInBounce {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.mvd-icon-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    font-weight: bold;
    
}

.mvd-icon-titulo img {
    width: 54px;
    height: 54px;
}

.mvd-infos p {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.mvd-seta {
    position: absolute;
    top: 40%;
    right: 30px;
    cursor: pointer;
    transform: translateY(-50%);
    user-select: none;
    rotate: 90deg;
}

.mvd-seta img{
    width: 100px;
    height: 70px;
}

.mvd-dots {
    margin-top: 20px;
}

.mvd-dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: rgb(53, 2, 2);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mvd-dots .dot.active {
    background-color: var(--terciary-color);
}

/* VALORES */
#valores {
    display: flex;
    justify-content: center;
    padding: 110px 20px;
    gap: 220px;
}

.valores-titulo {
    font-size: 18px;
    text-align: left;
    width: auto;
}

.valores-infos {
    display: flex;
    flex-direction: column;

    max-width: 510px;
}

.valores-lista {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 350px;
    gap: 5px;

    opacity: 0;
    transform: translateX(-50px);
}

@keyframes slideInValores {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.valores-lista.animate {
    animation: slideInValores 0.6s ease forwards;
}

.valores-lista img{
    rotate: 90deg;

    width: 25px;
    height: 25px;
}

.valores-lista p{
    font-size: 25px;
    font-weight: bold;
}


/* DIRETORES */
#direx {
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.d_presidente {
    margin-top: 30px;
}

.d_diretores ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px;
    margin-top: 40px;
}

#direx img {
    border-radius: 20px;
    border: 5px solid var(--borders-color);
    transition: all 0.3s ease;
}

#direx img:hover {
    border-radius: 20px;
    border: 5px solid var(--terciary-color);
    transform: scale(1.05);
}

#direx p {
    margin-top: 10px;
    
}
#direx h4 {
    margin-top: 10px;
    font-size: 15px;
}

/* 
-------------------------------------------------------- 
*/

/* SERVIÇOS */

#serv-titulo {
    flex-direction: column;
    padding: 100px 0;
    text-align: center;
    gap: 50px;
}

#serv-titulo h1 {
    font-size: 40px;
    border-bottom: 3px solid var(--terciary-color);
}

.serv-titulo-frase p {
    width: 640px;
    font-size: 22px;
    text-align: center;
}

.serv-frases ul {
    display: flex;
    list-style: none;
    gap: 60px
}

.serv-frases li {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    appearance: none;
    width: 250px;
    border-radius: 10px;
    padding: 10px 10px;
}

.serv-frases li p{
    border-left: 2px solid rgb(243, 60, 60);
    color: rgb(243, 60, 60);
}

#servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    padding: 80px 10%;
    background-color: var(--terciary-color);
}

.servico {
    background-color: rgb(95, 44, 59); 
    color: white;
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    transition: all 0.3s ease;
    width: 100%;
    height: 260px;
}

.servico h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.servico p {
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    color: var(--terciary-color);
}

.servico:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    background-color: var(--background-color-2);
    border: 4px solid black;
    font-weight: bold;
}

.servico {
    position: relative;
    overflow: hidden;
}
.icone-fundo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 70px;
    color: rgba(255,255,255,0.1);
}
/* 
-------------------------------------------------------- 
*/

/* PORTIFÓLIO */

#port-titulo {
    flex-direction: column;
    padding: 100px 0;
    text-align: center;
    gap: 50px;
}

#port-titulo h1 {
    font-size: 40px;
    border-bottom: 3px solid var(--terciary-color);
}

#port-titulo p {
    width: 640px;
    font-size: 22px;
    text-align: center;
}

.botao-contato a {
    justify-content: center;

    width:195px;

    padding: 20px;

    background-color: var(--primary-color);
    border-radius: 10px;
    
    text-decoration: none;

    cursor: pointer;
    font-weight: bold;
    font-size: 18px;

}
.botao-contato a:hover {
    background-color: var(--secondary-color);
    transform: translateY(0) scale(1.1); 
}
#projetos {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
    width: 100%;
}

.proj-card {
    background-color: var(--background-color-2);
    border: 6px solid var(--borders-color);
    border-radius: 20px;
    width: 440px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    height: 700px; 
}

.proj-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 10px black;
    border: 6px solid var(--primary-color);

}

.card-foto {
    background-color: white;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.card-foto img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border: white 3px solid;
    box-shadow: 0 0 5px 1px white;
}

.proj-card h3 {
    text-align: center;
    color: var(--terciary-color);
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
}

.proj-card p {
    color: white;
    padding: 15px 10px;
    margin-bottom: 30px;
    text-align: justify;
    flex-grow: 1; 
    min-height: 180px; 
}

.proj-botoes {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.proj-botoes a {
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    display: inline-flex;
    gap: 8px;
    text-decoration: none;
    background: white;
    color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
    border-radius: 7px;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.proj-botoes a:hover {
    background: var(--primary-color);
    color: white;
    transform: scale(1.05);
}

/*depoimentos*/

#depoimentos {
    text-align: center;
    padding: 100px 0;
    flex-direction: column;
    gap: 100px;
}

#depoimentos h1 {
    font-size: 40px;
    border-bottom: 3px solid var(--terciary-color);
}

.depo-lista {
    display: flex;
    justify-content: center;
    
}

.depo-lista ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 100px;
   
}

.depo-item {
    display: flex;
    align-items: center;
    text-align: center;
    width: 550px;
    padding: 40px 35px;
    border: 4px solid var(--borders-color);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px black;

    background-color: var(--terciary-color);
    gap: 20px;

    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.depo-item:hover {
    transform: scale(1.02);
    border: 4px solid var(--primary-color);
}

.depo-item img {
    margin-bottom: 15px; 
    box-shadow: 0 0 4px 6px black

}

.depo-texto p {
    margin-bottom: 10px; 
    font-size: 16px;
    text-align: justify;
    color: var(--borders-color);
    font-weight: bold;   
}

.depo-texto span {
    font-size: 18px;
    color: rgb(87, 87, 87);
    text-align: left;
}

/* ------------------------------------- */

/* CONTATO */

#contato {
    display: flex;
    flex-wrap: wrap; 
    gap: 100px;
    padding: 60px 100px;
}

.onde-estamos {
    flex: 1;
    min-width: 320px;
    max-width: 500px;
}

.local-titulo h1 {
    font-size: 48px;
    line-height: 1.1;
    margin-bottom: 30px;
}


.oe-lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.oe-lista li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    gap: 10px;
}
.oe-infos {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #333;
}

.oe-infos img {
    width: 30px;
    height: 30px;
}

#mapa {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

#mapa iframe {
    width: 100%;
    height: 410px;
    border-radius: 10px;
}


/* Formulário de contato */

#formulario {
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.forms-titulo {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 4px solid var(--terciary-color);
}

.forms iframe {
    width: 800px;
    height: 900px;
    border: 5px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
}

.redes-sociais {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px
    
}

.redes-sociais img {
    width: 45px;
    height: 45px;
}

.redes-sociais a {
    background-color: var(--secondary-color);

    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.redes-sociais a:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    cursor: pointer;
}

/*
-------------------------------------------------------- 
*/

/* FOOTER */

/* geral */
.footer {
    background-color: var(--footer-color);
    color: var(--terciary-color);
    padding: 40px 20px 20px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer img {
    vertical-align: middle;
}

.footer-esquerda,
.footer-meio,
.footer-direita {
    flex: 1;
    margin: 10px;
    min-width: 250px;
}

/* esquerda */
.footer-logo-PCI {
    width: 250px;
    margin-bottom: 10px;
}

.footer-contatos p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.footer-contatos img {
    width: 18px;
    margin-right: 8px;
}

/* meio */
.footer-hora-local p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.footer-hora-local img {
    width: 18px;
    margin-right: 8px;
}

.redes-sociais a {
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.redes-sociais a:hover {
    background-color: var(--primary-color);
    transform: scale(1.1);
    cursor: pointer;
}

.footer-redes-sociais {
    display: flex;
    gap: 10px;
}

.footer-redes-sociais a img {
    width: 30px;
    margin: 8px 8px 0 0;
    transition: opacity 0.3s;
}

.footer-redes-sociais a img:hover {
    opacity: 0.7;
}

/* direita */
.footer-direita ul {
    list-style: none;
    padding: 0;
}

.footer-direita ul li {
    margin: 8px 0;
}

.footer-direita a {
    color: var(--terciary-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-direita a:hover {
    color: var(--primary-color);
}

/* copyright */
.copyright {
    text-align: center;
    border-top: 2px solid var(--borders-color);
    padding-top: 15px;
    margin-top: 20px;
    font-size: 14px;
}

/* 
-------------------------------------------------------- 
*/

/* 
(Páginas) Responsividade para o celular 
*/

@media (max-width: 768px) {
    
    /* INÍCIO */
    section {
        flex-direction: column;
        padding: 60px 20px;
    }

    #apresentacao {
        gap: 20px; /* Diminui o gap entre os itens */
        padding: 60px 10px;
    }

    .apt-texto {
        font-size: 18px; /* Reduz o tamanho da fonte */
        max-width: 100%;
    }

    .apt-sub-texto p{
        font-size: 14px;
    }

    .apt-sub-lista {
        width: 100%;
    }

    .apt-botao {
        width: 100%;
        gap: 10px;
        flex-direction: column;
    }

    /* Dados */
    .dados-container ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dados-lista:first-child {
        flex: 1 1 100%;
        margin-bottom: 20px;
        border: none;
        background: none;
    }

    .dados-lista:first-child h3 {
        background-color: var(--secondary-color);
        border-radius: 10px;
        padding: 20px 15px;
        display: inline-block; 
    }

    .dados-lista:not(:first-child) {
        width: 30%;
        text-align: center;
    }

    .carrossel {
        max-width: 90%;
    }

    .carrossel ul {
        gap: 30px;
        animation: carrossel 10s linear infinite;
    }

    .carrossel img {
        width: 70px;
        height: 70px;
    }

    /* ------------------------------------- */

    /* SOBRE NÓS */
    body.sobrenos header {
        border: none;
        border-bottom: 3px solid white;
        border-radius: 0;
    }

    body.sobrenos #back-header {
        padding-bottom: 150px;
        
    }

    body.sobrenos #prazer-pci {
        text-align: center;
        font-size: 24px;
    }

    body.sobrenos #apresentacao {
        display: block;
        padding: 90px 10px;
    }

    body.sobrenos .apt-infos {
        max-width: 100%;
        gap: 70px;
    }

    body.sobrenos .apt-titulo {
        text-align: center;
    }
    body.sobrenos .apt-texto {
        margin-top: 20px;
        text-align: center;
        max-width: 100%;
        font-size: 16px;
    }

    .mvd-infos {
        width: 90%;
        padding: 30px;
        border-radius: 25px;
    }

    .mvd-slide {
        height: 220px;
    }

    .mvd-icon-titulo {
        gap: 15px;
        font-size: 16px;
    }

    .mvd-icon-titulo img {
        width: 50px;
        height: 50px;
    }

    .mvd-infos p {
        font-size: 16px;
        padding: 0 20px;
    }

    .mvd-seta {
        top: 45%;
        right: 30px;
    }

    .mvd-seta img {
        width: 40px;
        height: 40px;
        rotate:(90deg);
    }

    .mvd-dots {
        margin-top: 20px;
    }

    .mvd-dots .dot {
        height: 10px;
        width: 10px;
    }
    
    #valores {
        flex-direction: column;
        padding: 50px 10px;
        gap: 50px;
    }

    .valores-titulo {
        font-size: 18px;
        text-align: left;
        width: auto;
    }

    .valores-infos {
        max-width: 100%;
        text-align: center;
    }

    .valores-lista {
        width: 100%;
        justify-content: left;
        gap: 10px;
    }

    .valores-lista img {
        rotate: 90deg;
        width: 20px;
        height: 20px;
    }

    .valores-lista p {
        font-size: 20px;
    }


    #direx {
        gap: 30px;
        text-align: center;
    }

    .d_diretores ul {
        flex-direction: column; 
        align-items: center;
        gap: 40px;
    }

    .d_presidente img {
        width: 180px; 
    }

    .lista_direx img {
        width: 180px;
    }

    #direx h1 {
        font-size: 20px;
    }

    #direx h4 {
        font-size: 14px;
    }

    #direx p {
        font-size: 15px;
    }


    /* ------------------------------------- */

    /* PORTIFÓLIO */
    #port-titulo {
        padding: 60px 20px;
        gap: 30px;
    }

    #port-titulo h1 {
        font-size: 28px;
    }

    #port-titulo p {
        width: 100%;
        font-size: 18px;
        padding: 0 10px;
    }

    #port-titulo a {
        width: 100%;
        max-width: 250px;
        font-size: 20px;
        padding: 15px;
    }

    .proj-container {
        flex-direction: column;
        align-items: center;
    }

    .proj-card {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .card-foto {
        height: 200px;
    }

    .card-foto img {
        height: 200px;
    }

    .proj-card h3 {
        font-size: 22px;
    }

    .proj-card p {
        font-size: 16px;
        padding: 10px;
        text-align: left;

    }

    .proj-botoes {
        flex-direction: column;
        gap: 10px;
    }

    .proj-botoes a {
        width: 100%;
        justify-content: center;
    }

    #depoimentos {
        padding: 60px 20px;
        gap: 50px;
    }

    #depoimentos h1 {
        font-size: 28px;
    }

    .depo-lista ul {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .depo-item {
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        padding: 25px 20px;
    }

    .depo-item img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .depo-texto p {
        font-size: 16px;
        text-align: center;
    }

    .depo-texto span {
        font-size: 14px;
    }

    .botao-contato a {
        font-size: 16px;
        padding: 10px 20px;
    }


    /* CONTATO */
    #contato {
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        gap: 50px;
    }

    .onde-estamos {
        max-width: 100%;
        text-align: center;
    }

    .local-titulo h1 {
        font-size: 40px;
    }

    .oe-lista li {
        justify-content: center;
        font-size: 14px;
    }

    #mapa {
        max-width: 100%;
        min-width: unset;
    }

    #mapa iframe {
        height: 300px;
    }

    #formulario {
        padding: 20px 10px;
        gap: 20px;
    }

    .forms-titulo {
        font-size: 16px;
        border-bottom: 3px solid var(--terciary-color);
    }

    .forms iframe {
        width: 100%;
        height: 700px; /* reduz altura para caber melhor em telas pequenas */
        border-width: 3px;
        box-shadow: 0 0 6px 1px rgba(0,0,0,0.5);
    }


    /* SERVIÇOS */
    #serv-titulo {
        padding: 60px 20px;
        gap: 30px;
    }

    #serv-titulo h1 {
        font-size: 28px;
    }

    .serv-titulo-frase p {
        width: 100%;
        font-size: 18px;
    }

    .serv-frases ul {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .serv-frases li {
        width: 90%;
        font-size: 16px;
        padding: 8px 10px;
    }

    #servicos {
        grid-template-columns: 1fr; 
        padding: 60px 8%;
        gap: 20px;
    }

    .servico {
        height: auto;
        padding: 40px 20px;
    }

    .servico h3 {
        font-size: 16px;
    }

    .servico p {
        font-size: 14px;
    }

    .icone-fundo {
        font-size: 50px;
        top: 5px;
        right: 10px;
    }


    /* ------------------------------------------------------ */

    /* FOOTER */
    .footer-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-esquerda,
    .footer-meio,
    .footer-direita {
        margin: 20px 0;
        min-width: auto;
    }

    .footer-logo-PCI {
        width: 200px;
    }

    .footer-contatos p,
    .footer-hora-local p {
        justify-content: center;
    }

    .footer-redes-sociais {
        justify-content: center;
    }

    .footer-direita ul {
        padding: 0;
    }

    .footer-direita a {
        font-size: 16px;
    }

    .footer-redes-sociais a img {
        width: 28px;
        margin: 0 5px;
    }

    .copyright {
        font-size: 13px;
    }
}


/* 
-------------------------------------------------------- 
*/

/* 
(Páginas) Responsividade para iPad/Tablets 
*/

/* INÍCIO */
@media (min-width: 768px) and (max-width: 1024px) {
    section {
        flex-direction: column;
        padding: 80px 40px;
    }

    #apresentacao {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding: 80px 40px;
    }

    .apt-foto img{
        max-width: 100%;
        height: auto;
    }

    .apt-infos {
        max-width: 800px;
        padding: 0 20px;
        text-align: center;
    }

    .apt-texto {
        font-size: 22px;
        text-align: justify
    }

    .apt-sub-texto {
        align-items: center;
    }

    .apt-sub-lista {
        width: 100%;
    }

    .apt-sub-texto p {
        font-size: 18px;
    }

    .apt-botao {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }

    .apt-botao a {
        width: 70%;
        max-width: 220px;
        padding: 15px;
        font-size: 16px;
    }

    .dados-container ul {
        padding: 20px;
    }

    .carrossel {
        max-width: 85%;
    }

    .carrossel ul {
        gap: 40px;
        animation: carrossel 30s linear infinite;
    }

    .carrossel img {
        width: 80px;
        height: 80px;
    }

    /* ------------------------------------- */

    /* SOBRE NÓS */
    body.sobrenos header {
        border: none;
        border-bottom: 3px solid white;
        border-radius: 0;
    }

    body.sobrenos #back-header {
        padding-bottom: 170px;
    }

    body.sobrenos #prazer-pci {
        text-align: center;
        font-size: 24px;
    }

    body.sobrenos #apresentacao {
        display: flex;
        flex-direction: column;
        padding: 100px 20px;
        gap: 50px;
    }

    body.sobrenos .apt-infos {
        max-width: 90%;
        justify-content: center;
        align-items: center;
    }

    body.sobrenos .apt-texto {
        margin-top: 30px;
        text-align: justify;
        width: 600px;
        font-size: 20px;
    }

    .mvd-infos {
        width: 90%;
        padding: 30px;
        border-radius: 25px;
    }

    .mvd-slide {
        height: 160px;
    }

    .mvd-icon-titulo {
        gap: 15px;
        font-size: 16px;
    }

    .mvd-icon-titulo img {
        width: 50px;
        height: 50px;
    }

    .mvd-infos p {
        font-size: 17px;
        padding: 0 20px;
    }

    .mvd-seta {
        top: 45%;
        right: 30px;
        rotate: (90deg);
    }

    .mvd-seta img {
        width: 50px;
        height: 50px;
    }

    .mvd-dots {
        margin-top: 20px;
    }

    .mvd-dots .dot {
        height: 10px;
        width: 10px;
    }

    
    #valores {
        flex-direction: column; 
        gap: 40px; 
        padding: 60px 20px; 
    }

    .valores-titulo {
        font-size: 14px; 
    }

    .valores-infos {
        max-width: 100%; /
    }

    .valores-lista {
        width: 100%; 
        margin: 0 auto; 
    }

    .valores-lista p {
        font-size: 20px; 
    }


    #direx {
        gap: 40px;
        text-align: center;
    }

    .d_diretores ul {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 50px 60px; 
        justify-items: center; 
    }

    .d_presidente img {
        width: 200px;
    }

    .lista_direx img {
        width: 200px;
    }

    #direx h1 {
        font-size: 22px;
    }

    #direx h4 {
        font-size: 15px;
    }

    #direx p {
        font-size: 16px;
    }

    /* ------------------------------------- */

    /* PORTIFÓLIO */
    #port-titulo {
        padding: 80px 40px;
        gap: 40px;
    }

    #port-titulo h1 {
        font-size: 34px;
    }

    #port-titulo p {
        width: 100%;
        font-size: 20px;
    }

    #port-titulo a {
        font-size: 22px;
        padding: 18px;
    }

    .proj-container {
        gap: 25px;
    }

    .proj-card {
        width: 45%;
        height: auto;
        padding: 18px;
    }

    .card-foto {
        height: 220px;
    }

    .card-foto img {
        height: 220px;
    }

    .proj-card h3 {
        font-size: 24px;
    }

    .proj-card p {
        font-size: 17px;
        text-align: left;
    }

    .proj-botoes a {
        font-size: 15px;
        padding: 10px 14px;
    }


    #depoimentos {
        padding: 80px 40px;
        gap: 70px;
    }

    #depoimentos h1 {
        font-size: 32px;
    }

    .depo-lista ul {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .depo-item {
        width: 400px;
        padding: 30px 25px;
    }

    .depo-texto p {
        font-size: 18px;
        text-align: left;
    }

    .depo-texto span {
        font-size: 16px;
    }
    

    /* CONTATO */
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 60px;
        padding: 50px 60px;
    }

    .onde-estamos {
        flex: 1 1 45%;
        max-width: 450px;
    }

    .local-titulo h1 {
        font-size: 42px;
    }

    .oe-lista li {
        font-size: 17px;
    }

    #mapa {
        flex: 1 1 45%;
        max-width: 500px;
    }

    #mapa iframe {
        height: 360px;
    }

    #formulario {
        padding: 30px 10px;
    }

    .forms-titulo {
        font-size: 18px;
        
    }

    .forms iframe {
        width: 500px;
        height: 800px;
        border-width: 4px;
    }

    /* SERVIÇOS */
    #serv-titulo {
        padding: 80px 40px;
        gap: 40px;
    }

    #serv-titulo h1 {
        font-size: 34px;
    }

    .serv-titulo-frase p {
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
    }

    .serv-frases ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .serv-frases li {
        width: 45%;
        font-size: 17px;
        padding: 10px;
    }

    #servicos {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
        padding: 70px 8%;
        gap: 25px;
    }

    .servico {
        height: 240px;
        padding: 45px 30px;
    }

    .servico h3 {
        font-size: 17px;
    }

    .servico p {
        font-size: 15px;
    }

    .icone-fundo {
        font-size: 60px;
    }

    /* ------------------------------------------------------ */
    /* FOOTER */
    
}
