@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --background-color: #181818;
    --background-color-2: #1e1e1e;
    --borders-color: #313131;
    --primary-color: #c40001;
    --secondary-color: #c20001;
    --terciary-color: white;
}

/*

-> POSICIONAMENTO
-> TAMANHO
-> ESPAÇAMENTO
-> CORES
-> FONTES/TEXTO
-> VISIBILIDADE
-> ANIMAÇÕES/TRANSIÇÕES

*/

/* GERAL */
* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;

    color: var(--terciary-color);

    font-family: 'Montserrat', sans-serif;
}

/* BODY E BACKGROUND */
body {
    margin: 0;

    min-height: 100vh;

    background-color: var(--background-color);
    background-image: linear-gradient(120deg, var(--background-color-2) 25%, var(--background-color) 25%);
}

/* 
-------------------------------------------------------- 
*/

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 75%;

    margin: 0 auto;
    margin-top: 30px;
    padding: 11px 80px;
    
    border: 5px solid var(--borders-color);
    border-radius: 15px;
    background-color: none;
}

/* Logo da PCI */ 

.logo-PCI-escrita img {
    height: 70px;
}

/* Navegação do header */

header nav ul{
    display: flex;
    align-items: center;

    gap: 30px;
}

header nav a {
    position: relative;

    padding-bottom: 2px;

    border-bottom: 3px solid transparent;
    color: var(--terciary-color);

    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
header nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;

    height: 3px;
    width: 0;

    background-color: var(--primary-color);

    transform: translateX(-50%);
    transition: 0.65s ease;
}

/* Animação da navegação */
header nav a:hover::after,
header nav a.active::after {
    width: 100%;
}

header nav a.active {
    color: var(--primary-color);
}

/* Animação do icon de telefone do header */

header .icon-telefone {
    padding: 5px 8px;

    border-radius: 10px;

    transform: scale(1);
    transition: transform 0.8s ease, background-color 0.8s ease; 
}

.icon-telefone img {
    width: 35px;
    height: 35px;
}

header .icon-telefone:hover {
    background-color: var(--borders-color);

    transform: scale(1.2);

    cursor: pointer;
}

/* Responsividade para o celular */

.logo-PCI {
    display: none
}

.menu-lateral {
    display: none;

    font-size: 30px;

    cursor: pointer;
}

@media (max-width: 1025px) {

    header {
        flex-direction: row;
        position: relative;

        padding: 12px 10px;

        border: none;
        border-bottom: 3px solid var(--borders-color);
        border-radius: 0;
    }


    .logo-PCI-escrita {
        display: none;
    }

    /* ícones do header responsivo */

    .menu-lateral {
        display: block;
    }

    .logo-PCI {
        display: block;
    }

    .logo-PCI img {
        height: 40px;
    }

   /* Header lateral */

   .header-nav {
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0%;

        width: 100%;
        padding: 50px 20px;

        background-color: var(--background-color-2);
        border: 4px solid var(--borders-color);
        border-radius: 6px;

        transform: translateX(-100%); /* Move 100% pra esquerda */
         transition: transform 0.65s ease, opacity 0.65s ease;
   }

   .header-nav nav ul {
        flex-direction: column;
        gap: 20px;
   }

   .header-nav.open {
        opacity: 1;
        pointer-events: 1;
        transform: translateX(0);
   }

}

/* 
-------------------------------------------------------- 
*/






